#if ($questionList)
<ul>
    #foreach( $question in $questionList )
        <li><a href="https://app.quandora.com/object/$question.getUid()"> $question.getTitle() </a></li>
    #end
</ul>
#else
    <span> No related question found </span>
#end
