atlassian_tutorial-xproduct-admin-ui-plugin-83fd0753f19f/
.metadata/
RemoteSystemsTempFiles/
quandora-plugin-REST/amps-standalone/
quandora-plugin-REST/target/
amps-standalone/
quandora-plugin-jira/target/
save/
